@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    /* background: #fff; */
    overflow: hidden;
}
section h2{
    position: relative;
    font-size: 4em;
    color: #fff;
    z-index: 10000;
    mix-blend-mode: overlay;

}
section video
{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
