/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  background: url(/assets/img/bg6.jpeg);
  /* background: url(assets/img/holi1.jpeg); */

  /* background: url(assets/img/bg2.jpeg); */
  background-size: cover; 
  /* background:#000;  */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Kaushan Script', cursive; */
  /* font-family: 'Arbutus Slab', serif; */
  font-family: 'Merriweather', serif;
  /* margin: 0;
  padding: 0; */
  overflow: hidden;
   display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;  */
  
}
div {
  position: relative;
  z-index: 1;
}
h1 {
  min-height: 80vh;
  /* min-height: 100vh; */

  margin: 0;
  padding: 0;
  font-size: 7.5em;
  font-style: italic;
letter-spacing: 15px ;
  /* color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* -webkit-text-stroke:black 0.5px;  */
  /* -webkit-text-stroke:green 1px;  */

  /* background: url(assets/img/portfolio/sc--q3gk0CLA7v6wNhRGGCQ7n7P4jaLnXdcc.webp); */
  background: url(assets/img/holi.jpg);
  /* background: url(assets/img/bg8.jpeg); */

    -webkit-animation: background-animation 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}  
ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
ul li {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  list-style: none;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(5px);
}
ul li:nth-child(odd) {
  animation: animateOdd 5s linear infinite;
}
@keyframes animateOdd {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    /* transform: translate(0,0) scale(1); */
    opacity: 1;
  }

  100% {
    transform: translate(300px, -600px) scale(12);
    opacity: 1;
  }
}
ul li:nth-child(even) {
  animation: animateEven 5s linear infinite;
}
@keyframes animateEven {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    /* transform: translate(0,0) scale(1); */
    opacity: 1;
  }

  100% {
    transform: translate(-300px, -600px) scale(12);
    opacity: 1;
  }
}
ul li:nth-child(1) {
  animation-delay: 0s;
  background: #ff0000;
    /* background: #008080; */
      /* background: orange; */


}
ul li:nth-child(2) {
  animation-delay: 1s;
  background: #0000ff;
}
ul li:nth-child(3) {
  animation-delay: 2s;
  background: #ff00ff;
}
ul li:nth-child(4) {
  animation-delay: 3s;
  background: #00ffff;
}
ul li:nth-child(5) {
  animation-delay: 4s;
  background: #00ff00;
}
ul li:nth-child(6) {
  animation-delay: 5s;
  background: #ffff00;
}
