<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new year</title>
    <link rel="stylesheet" href="/static/styleny.css">
</head>
<body>
    <div class="container">
        <h2 id="h2"><span>Happy New Year</span> 2022</h2>
        <div class="countdown">
            <div id="day">0</div>
            <div id="hours">0</div>
            <div id="minutes">0</div>
            <div id="seconds">0</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/jQuery-Plugin-To-Create-Canvas-Based-Fireworks/jquery.fireworks.js"></script>
    
    <script type="text/javascript">
        $('body').fireworks();
    </script>

    <!-- <script>
        var countdate= new Date('Jan 1, 2022 00:00:00').getTime();
        function newyear(){

            var now= new Date().getTime();
            gap= countdate-now;
            var seconds=1000;
            var minutes=seconds * 60;
            var hours=minutes * 60;
            var day=hours * 24;

            var d= Math.floor(gap/(day));
            var h= Math.floor((gap%(day))/(hours));
            var m= Math.floor(gap%((hours))/(minutes));
            var s= Math.floor((gap%(minutes))/(seconds));

          document.getElementById('day').innerText= d;
          document.getElementById('hours').innerText= h;
          document.getElementById('minutes').innerText= m;
          document.getElementById('seconds').innerText= s;

        }
        setInterval(function(){
            newyear();
        }) -->

    </script>
    <!-- <script type="text/javascript">
      
        function changeText()
        {
            var display = document.getElementById('h2');
            display.innerHTML = "";
            display.innerHTML = "Countdown to New Year";


        }
              
        function defaultText()
        {
            var display = document.getElementById('h2');
            display.innerHTML = "";
            display.innerHTML = "HAPPY NEW YEAR";


        }
        setInterval(function(){
            changeText();

        }) -->
          
    </script>
</body>
</html>