<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleholi.css" >
    <title>Happy Holi</title>
</head>
<body>

    <div>
        <h1>HAPPY HOLI</h1>
        <!-- <h1>होली की हार्दिक शुभकामनाएं </h1> -->

    </div>
    <ul>
        <!-- li*5 -->
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>   
     <li></li>
    </ul>
</body>
</html>